.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 15ch;
  max-width: 30ch;
  margin: 0 30%;
}
.sidebar a {
  background-color: blue;
  padding: 5px;
  color: white;
  text-decoration: none;
}
